{%extends 'instagram/base.html'%}
{% load static%}
{% load crispy_forms_tags %}
{%load bootstrap4%}



{%block content%}
<div class="container">
    <a href="{% url 'post'%}" class="btn btn-outline-info mt-20"><span><i class="fas fa-upload"></i></span> Upload A
        Post</a>
    <div class="row">
        <div class="post text-center" style="justify-content: center;">
            {% for post in posts %}
            <div class="card card1 mb-4 mt-4 text-center">
                <div class="card-title">
                    <div class="row">

                        <a href="{% url 'profile' %}"> <img class="rounded-circle"
                                src="{{ user.profile.image_url.url }}" width="35" height="35"
                                style="margin-top: 2px; margin-left: 15px;" alt=""></a>
                        <p class="mt-2 ml-1">@{{ user.username }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <div>
                            <img src="{{ post.image.url }}" width="600" height="500" />
                        </div>
                        </a>
                    </div>
                </div>
                <div class="ml-4">
                    <a class='info' href="{% url 'postlike' post.pk %}">

                        {%if post.likes.id == user.id%}
                        <i class="far fa-heart fa-1x text-danger"></i>
                        {%else%}
                        <i class="far fa-heart fa-1x text-danger"></i>
                        {%endif%}
                    </a>
                    <span style="font-size:16px;">{{post.likes.count}}</span>

                    <i class="far fa-comment fa-1x ml-5 text-black"></i>
                    <p>{{ post.image_caption }}</p>
                    <div id="comment" class="comment-form">
                        <form class="text-center" action="" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="row no-gutters">
                                <div class="col-10">
                                    <input type="hidden" id="post_id" class="" value="{{post.id}}">
                                    {% bootstrap_form form %}
                                </div>
                                <div class="col-2">
                                    <input type="submit" style="border: 0;" id="defaultLoginFormEmail"
                                        class="form-control" value="Post">
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <p class="text-muted"> Posted {{ post.date_posted|timesince}} Ago</p>
                </div>

            </div>

            {% endfor %}
        </div>

    </div>
</div>

{%endblock%}