{%extends 'base.html'%}
{%block content%}
<div class="card my-5">
    <div class="card-body">
        {%if not_following%}
        <ul class="list-group list-group-flush">
            {% for profile in not_following %}

            <li class="list-group-item">
                {%if profile.profile_photo%}
                <img src="{{profile.profile_photo.cdn_url}}" class="rounded-circle z-depth-0" alt="avatar image"
                    height="35">
                {%else%}
                <img src="{% user.profile.image_url.url %}" alt="">
                {%endif%}
                <a class="text-dark" href=""><b class="ml-5">{{ profile.user.username }}</b></a>
                <small class="float-right">
                    <a class='follow-btn btn mr-2' href="/users/add/following/{{profile.user_id}}">Follow</a>
                </small>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h5><i>No new users to follow!</i></h5>
        {% endif %}
    </div>
</div>

{%endblock%}