{% extends "instagram/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 "></div>
        <div class="col-sm-4">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image_url.url }}" style="margin-top: 20px;">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-6">
                    <div class="media-body">
                        <h3 class="account-heading" style="margin-top: 20px;">{{ user.username }}</h3>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <a href="{% url 'edit_profile' %}"><button class="btn btn-outline-info" type="submit" style="margin-top: 20px;">Edit Profile</button></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <div class="row">
                <div class="col-4"><p>{{posts | length}} posts</p></div>
                <div class="col-4"><p>{{followers | length}} followers</p></div>
                <div class="col-4"><p>{{following | length}} following</p></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
