* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-fixed{
    position: fixed;
}

.card1 {
    text-align: center;
    justify-content: center;
    margin-left: 300px;
}

@media only screen and (max-width: 768px) {
    
    .card{
        margin-left: 100px;
    }
}
@media only screen and (max-width: 200px) {
    
    .card{
        margin-left: 10px;
    }
}